<!DOCTYPE html>
<html lang = "en">
    <head> 
        <title>Luminous Sponsorship Portal</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
        <meta name = "viewport" content = "width=device-width, initial-scale = 0, user-scalable=no"> 
        <script src = "mov.js" ></script>
        <script src = "https://unkpg.com/read-excel-file@4.x/bundle/read-excel-file.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <div class = "header">
            <a href = "/login" class = "login">Login</a>
            <img src = "https://media.discordapp.net/attachments/715996959655329943/1087133161965748344/logo-full-blue-new-1.png?width=1656&height=726" alt = "logo">
            <button type="button" class="question" onclick="togglePopup()">&#63;</button>
            <button type = "button" class = "instr" onclick="togglePopupTwo()">Instructions</button>
        </div>

        <!-- <div class="question-popup" id="questionPopup">
            <div class="question-popup-content">
                <button type="button" onclick="togglePopup()" class = "noway">X</button>
                <h1>Do you have any questions or comments?</h1>
                <p>Email us at <a href="mailto:enwrreio@ijfrfioerf.com">enwrreio@ijfrfioerf.com</a></p>

            </div>
        </div> -->

        <!-- <div class = "instr-popup" id = instrPopUp>
            <div class = "instr-popup-content">
                <button type = "button" onclick = "togglePopupTwo()" class = "noway">X</button>
                <h1>Instructions</h1>
                <ol>
                    <li>Make sure you are regiestered in a project with Luminous Energy</li>
                    <li>A Luminous representive would have given you a username and password to log into the portal</li>
                    <li>Head over to the login button in the header to continue and access the potential sponsors through some questionaries</li>
                  </ol>
            </div>
        </div> -->
        
        <div class = "PageSlides">
            <div class = "What">
                <h1>What is the Luminous Energy Solutions Sponsorship Portal?</h1>
                <h2>This is a platform that allows customers of Luminous Energy Solutions to find potenital funding for their companies energy reduction program. </h2>
            </div>
            <div class = "Working">
                <h1>How does it work?</h1>
                <h2>Through a serires of <b>questionaries</b>, the algorthim sorts and finds all potential sponsors in conjucation to the companys goals and answers to the questions. Currently working through a library of standard python code and how to implement pytorch library to search the internet for all possible companies</h2>
                <img src = "https://media.discordapp.net/attachments/715996959655329943/1087183659439759360/Screen_Shot_2023-03-19_at_7.19.02_PM.png?width=1656&height=596" alt = "types">
            </div>
            <div class = "Amount">
                <h1>Why?</h1>
                <h2>You can save up to.....</h2>
                <img src = "https://media.discordapp.net/attachments/715996959655329943/1087595825456238642/1.gif?width=1656&height=174" alt = "millions">
                <h3>Candian Dollars</h3>


            </div>
            <div class = "Patnerships">
                <h1>Partnerships</h1>
                <h2>we are very thankful to be working with companys and orgainzations that provide our customers with financial support</h2>
                <img src = "https://media.discordapp.net/attachments/715996959655329943/1087183472168288286/Screen_Shot_2023-03-19_at_7.18.36_PM.png?width=1656&height=1026" alt = "company"> 
            </div>
        </div>


    </body>

</html>